<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{(memberToDisplay | async)?.img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>{{(memberToDisplay | async)?.name}}</h3>
          <p>{{(memberToDisplay | async)?.location}}</p>
          <p>{{(memberToDisplay | async)?.introduction}}</p>
          <p>Member Since {{(memberToDisplay | async)?.registrationDate}}</p>
        </div>
      </div>
    </div>
  </div>
