<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> The North West Bluegrass Club is a place for<span class="span_h2"> bluegrass </span>music fans in the northwest to get together and share thier love of music. </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Check out the members/shows page</h5>
                   <button class="btn blue" routerLink="/home">Members</button>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Find Out More About NWBG<br><br></h5>
                    <button class="btn blue" routerLink="/about">About</button>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Join Our Club<br><br><br></h5>
                    <button class="btn blue" routerLink="/new-member">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>
