<div class="row">
  <div class="input-field col m4">
    <p><b>Filter Members by Location:</b></p>
    <select class="browser-default" id="filter" (change)="onChange($event.target.value)">
      <option selected="selected" value="all">All Members</option>
      <option *ngFor="let location of locations" value="{{location}}">{{location}}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col m8">
    <ul class="collection">
      <li class="center-align"><h4>Current Members</h4><hr></li>
      <li *ngFor="let member of members | async | filterMembers:locationToFilter" class="collection-item avatar">
        <img src="{{member.img}}" alt="picture of member" class="circle">
        <h4>{{member.name}}</h4>
        <p>{{member.location}} <br>
          Member Since {{member.registrationDate}}
        </p>
        <br>
        <a class="waves-effect waves-teal btn-flat" (click)="goToDetailPage(member)" style="margin-left: -30px;">View Member Details</a>
        <div *ngIf="currentRoute === '/admin'">
          <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
      </li>
    </ul>

  </div>

  <div *ngIf="currentRoute === '/home'">
    <app-shows></app-shows>
  </div>

</div>







<!-- <div >
  <div *ngFor="let member of members | async | filterMembers:locationToFilter" class="col m3">
    <h3 (click)="goToDetailPage(member)"><em>{{member.name}}</em> {{member.location}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <p>
        edit
      </p>
      <hr>
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div> -->
